<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
        max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>상품 상세</h2>
    </div>
    <!--추가-->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>
    <div>
        <label for="itemId">상품 ID</label>
        <input type="text" id="itemId" name="itemId" class="form-control"
               value="1" th:value="${item.id}" readonly>
    </div>
    <div>
        <label for="itemName">상품명</label>
        <input type="text" id="itemName" name="itemName" class="form-control"
               value="상품A" th:value="${item.itemName}" readonly>
    </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" name="price" class="form-control" value="10000" th:value="${item.price}" readonly>
    </div>
    <div>
        <label for="quantity">수량</label>
        <input type="text" id="quantity" name="quantity" class="form-control"
               value="10" th:value="${item.quantity}" readonly>
    </div>
    <hr class="my-4"><!-- single checkbox -->
    <div>판매 여부</div>
    <div>
        <div class="form-check">
            <!--
            Spring MVC 의 체크박스 바인딩
            여긴 th:object 가 없어서 open 의 프라퍼티를 사용해야한다
            th:field 로 name, id , value 다 가져오고 item.open 이 true 라면 checked false 라면 옵어
            -->
            <input type="checkbox" id="open" th:field="${item.open}" class="formcheck-input" disabled>
            <label for="open" class="form-check-label">판매 오픈</label>
        </div>
    </div>
    <!--
     멀티 체크 박스에서 등록 지역을 선택해서 저장하면,  조회시 checked 속성이 추가된것을 확인할수 있다
     타임리프는 th:field 에 지정한 값과 th:value 의 값을 비교해서 체크를 자동으로 처리해준다
     1. th:field = ="${item.regions}" 하면 타임리프는 태그의 id, name, value 속성을 자동으로 추가해준다 name ="regions" ...
     2. th:value="${region.key}" 가 th:field 에 지정한 값과 비교하여 checked 처리를 해준다

     -->
    <div>
        <div>등록 지역</div >
        <div th:each="region : ${regions}" class="form-check form-check-inline">

            <input type="checkbox" th:field="${item.regions}" th:value="${region.key}"
                   class="form-check-input" disabled>
            <label th:for="${#ids.prev('regions')}"
                   th:text="${region.value}" class="form-check-label">서울</label>
        </div>
    </div>
    <!-- radio button
     th:field="${item.itemType}", th:value="${type.name()}" 두개가 같으면 checked 를 한다
     -->
    <div>
        <div>상품 종류</div>
        <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
            <input type="radio" th:field="${item.itemType}" th:value="${type.name()}" class="form-check-input" disabled>
            <label th:for="${#ids.prev('itemType')}" th:text="${type.description}"
                   class="form-check-label">
                BOOK
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!--
                    @{ ... } → Thymeleaf의 URL 표현식
                    /basic/tiems/{itemId}/edit → 스프링 컨트롤러가 매핑하는 URL 패턴 (아마 @GetMapping("/basic/tiems/{itemId}/edit") 같은 메서드가 컨트롤러에 있음)
                    (itemId=${item.id}) → {itemId} 자리에 item.id 값(상품 id)을 넣음-->
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/basic/items/{itemId}/edit(itemId=${item.id})}'|" type="button">상품 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/basic/items}'|" type="button">목록으로
            </button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>

<!--/*
<div>등록 지역</div>
        <div class="form-check form-check-inline">
            <input type="checkbox" value=""SEOUL
                   class="form-check-input" disabled id="regions1" name="regions" checked="checked">
            <label for="regions1"
                   class="form-check-label">서울</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" value="BUSAN"
                   class="form-check-input" disabled id="regions2" name="regions" checked="checked">
            <label for="regions2"
                   class="form-check-label">부산</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" value="JEJU"
                   class="form-check-input" disabled id="regions3" name="regions">
            <label for="regions3"
                   class="form-check-label">제주</label>
        </div>


        <div class="form-check form-check-inline">
            <input type="radio" value="BOOK" class="form-check-input" disabled id="itemType1" name="itemType" checked="checked">
            <label for="itemType1" class="form-check-label">도서</label>
        </div>
*/-->